@model IEnumerable<WebDoCuoi.Models.KHACHHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; " ">QUẢN LÝ KHÁCH HÀNG</h2>



<table class="table">
    <tr>
        <th style="text-align:center;width:170px">Tên khách hàng</th>
        <th style="text-align:center;width:150px">Tên đăng nhập </th>
        <th style="text-align:center;width:320px">Địa chỉ </th>
        <th style="text-align:center;width:50px">SĐT </th>
        <th style="text-align:center;width:100px">Email </th>
        <th style="text-align:center;width:70px">Ngày tạo </th>
        <th style="text-align:center;width:120px">Trạng thái </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.FormatValue(@item.NgayTao, "{0:dd/MM/yyyy}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.MaKH })
            </td>
        </tr>
    }

</table>
